<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Mobile Development and Training</title>

    <!--STYLESHEETS-->
    <link rel="stylesheet" href="../static/css/materialize.css">
    <link rel="stylesheet" href="../static/css/style.css">
    <link rel="stylesheet" href="../static/css/iconfont/material-icons.css">
    <link rel="stylesheet" href="../static/css/fontawesome.css">
</head>

<body>
    <nav class="transparent">
        <div class="nav-wrapper">
            <a href="https://btzw.herokuapp.com" class="brand-logo left">
                <i class="material-icons">view_week</i> Build
            </a>
            <button class="btn-floating btn-large right indigo">
                <i class="material-icons">search</i>
            </button>
        </div>
    </nav>

    <div class="row transparent center">
        <h2 class="fa fa-4x fa-bold white-text">
            <b>Mobile Development and Training</b>
        </h2>
    </div>


    <!--SCRIPTS-->
    <script src="../static/js/jquery-2.1.1.js"></script>
    <script src="../static/js/materialize.js"></script>
    <script src="../static/js/typed.js"></script>
    <script>
        M.AutoInit();
    </script>
</body>

</html>