<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Web Development and Training</title>

    <!--STYLESHEETS-->
    <link rel="stylesheet" href="../static/css/materialize.css">
    <link rel="stylesheet" href="../static/css/style.css">
    <link rel="stylesheet" href="../static/css/iconfont/material-icons.css">
    <link rel="stylesheet" href="../static/css/fontawesome.css">

    <!--Stylesheets-->
    <style>
        html {
            background: url(../static/img/background9.png) no-repeat;
        }

        .btn {
            background: transparent;
            border: 1px solid white;
        }
    </style>
</head>

<body>
    <nav class="black">
        <div class="nav-wrapper">
            <a href="{{url_for('home')}}" class="brand-logo left">
                <i class="material-icons">view_week</i> Build Systems
            </a>
            <ul class="nav-mobile right">
                <li>
                    <a class="btn" href="{{url_for('about')}}">About</a>
                </li>
            </ul>
        </div>
    </nav>

    <div class="row transparent center">
        <h1 class="fa fa-4x fa-bold white-text">
            <b>Web Development and Training</b>
        </h1>
    </div>


    <!--SCRIPTS-->
    <script src="../static/js/jquery-2.1.1.js"></script>
    <script src="../static/js/materialize.js"></script>
    <script src="../static/js/typed.js"></script>
    <script>
        M.AutoInit();
    </script>
</body>

</html>